.header {
    margin: 2rem 10%;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ece1fa;
}

.logo {
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    color: #ece1fa;

}

.button {
    padding: 0.5rem 1rem;
    background-color: #ece1fa;
    color: #893972;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }